In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#read the file
df = pd.read_csv('df_price_clean.csv')

#drop non-numeric values
df = df.drop(['hospital_name','cpt_code','description'], axis=1)

#replace blank with NaN
df.replace(r'^\s+$', np.nan, regex=True)

In [ ]:
#check missing values
df.isna().sum()

gross_charge     23
cash_price      161
min_ng          155
max_ng          155
dtype: int64

In [ ]:
#feature scaling
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)
df.head()

   gross_charge  cash_price    min_ng    max_ng
0      0.100927    0.087456  0.051880  0.026042
1      0.088305    0.076517  0.143375  0.069824
2      0.003691    0.003160  0.001524  0.000943
3      0.217498    0.188485       NaN       NaN
4      0.007027    0.006076       NaN       NaN

In [ ]:
#imputation
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
df = pd.DataFrame(imputer.fit_transform(df),columns = df.columns)

In [ ]:
#inverse transform
df_new = scaler.inverse_transform(df)
df_new = pd.DataFrame(df_new)

In [ ]:
#save to new csv

df_old = pd.read_csv('df_price_clean.csv')
df_old = df_old[['hospital_name','cpt_code','description']]

df_final = df_old.join(df_new)
df_final = df_final.rename(columns={0: 'gross_charge', 1: 'cash_price',2:'min_ng',3:'max_ng'})

df_final.to_csv('df_price_imputated.csv')